@model IEnumerable<ManyToManyRelationship.Models.AcademicHistory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Degree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Institute)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassingYear)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Degree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Institute)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PassingYear)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AcademicHistoryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AcademicHistoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AcademicHistoryId })
        </td>
    </tr>
}

</table>
